<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>欢迎使用</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="EasyUI/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="EasyUI/themes/icon.css"/>
    <script type="text/javascript" src="EasyUI/jquery.min.js"></script>
    <script type="text/javascript" src="EasyUI/jquery.easyui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

</body>
<script>
        
</script>
</html>